.footer {
    z-index: 1;

    position: relative;

    &.goldenborder {
        border-top: 1px solid #FFB81C;
    }

    &__logo {
        &-image {
            width: 200px;
            height: 91px;
            max-width: none;
            transition: 0.4s;
            object-fit: contain;
            @media (max-width:1650px) {
                width: 150px;

               }

               @media (max-width:1450px) {
                width: 130px;

                  }


            &:hover {
                filter: invert(1);
            }
        }
    }

    &__newsletter {
        height: 400px;
        background-position: top;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: 0% 110%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;

      
        @media (max-width:1000px) {
            height: 300px;
            @supports (-webkit-touch-callout: none) {
                background-attachment: scroll;
              }
              
         
        }

        &-container {
            background-image: url(../images/yellowbg.webp);

            position: relative;
            max-width: 1100px;
            margin-left: auto;
            margin-right: auto;
            padding: 30px 70px;
            display: flex;

            @media (max-width:1600px) {
                max-width: 65%;
            }

            @media (max-width:1440px) {
                margin: 0px 20px;
                max-width: 75%;
            }

            @media (max-width:1200px) {
                padding: 30px;
                padding-bottom: 50px;
                max-width: 80%;
            }

            @media (max-width:850px) {
                padding: 30px;
                max-width: 100%;
            }

            @media (max-width:750px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px;

                padding-bottom: 0;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 70%;

            @media (max-width:1000px) {
                width: 50%;
                margin-right: 30px;
            }

            @media (max-width:750px) {
                width: 100%;
                margin-right: 0px;
            }

            h5 {
                font-size: 36px;
                font-weight: 400;

                @media (max-width:1000px) {

                    font-size: 23px;
                }

                @media (max-width:750px) {
                    text-align: center;
                }
            }

            p {
                margin-top: 10px;
                font-size: 24px;
                font-weight: 400;
                width: 100%;

                @media (max-width:1000px) {
                    font-size: 16px;
                }
            }
        }

        &-email {
            width: 50%;
            display: flex;
            align-items: center;

            @media (max-width:750px) {
                width: 90%;
            }

            .tnp-field-email {
                width: 76%;

                .tnp-email {
                    background-color: transparent;
                    border-bottom: 1px solid black;
                    color: black;
                    outline: none;
                    padding-bottom: 0;
                    transition: 0.4s;

                    &::placeholder {
                        color: black;
                    }

                    &:focus {
                        border-bottom: 1px solid #AE2573;
                    }
                }
            }

            .tnp-subscription {
                display: flex;
                align-items: center;

                @media (max-width:850px) {
                    justify-content: center;
                }
            }

            .tnp-subscription .tnp-field-button {
                cursor: pointer;
                border: 1px solid black;
                position: relative;
                width: 38px;
                margin-bottom: 0;
                height: 38px;
                margin-left: 10px;
                transition: 0.4s;

                &::before {
                    border-style: solid;
                    border-width: 0.10em 0.10em 0 0;
                    content: '';
                    display: inline-block;
                    height: 0.65em;
                    left: 0.15em;
                    position: absolute;
                    top: 0.15em;
                    vertical-align: top;
                    width: 0.65em;
                    cursor: pointer;
                    left: 0;
                    transform: rotate(45deg) translate(-50%);
                    top: 46%;
                    left: 41%;
                    transition: 0.4s;
                }

                &:hover {
                    &::before {
                        border-color: #AE2573;
                    }

                    border:1px solid #AE2573;
                }

                .tnp-button {
                    background-color: transparent;
                    padding: 0;
                    height: 38px;
                    cursor: pointer;

                }
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-start;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0;

        @media (max-width:1550px) {
            justify-content: space-around;
        }

        @media (max-width:1000px) {
            flex-direction: column;
            padding: 50px 40px;
        }

        &-container {
            margin-left: 100px;
            display: flex;
            align-items: center;

            @media (max-width:1550px) {
                margin-left: 0px;
            }

            @media (max-width:1000px) {
                margin: 20px 0;
            }

            ul {
                display: flex;
                list-style: none;

                @media (max-width:1000px) {
                    flex-direction: column;
                }

                li {
                    padding: 0px 50px;
                    border-right: 1px solid white;
                    height: 28px;
                    display: flex;
                    align-items: center;

                    @media (max-width:1550px) {
                        padding: 0px 15px;
                        height: 15px;
                    }

                    @media (max-width:1000px) {
                        border-right: 0;

                        height: auto;
                        padding: 12px 0px;
                    }

                    &:last-child {
                        border-right: 0;
                        padding-right: 0;
                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        position: relative;
                        @media (max-width:1650px) {
                            font-size: 15px;
   
                           }
   
                           @media (max-width:1450px) {
                               font-size: 14px;
      
                              }
                           @media (max-width:1200px) {
                               font-size: 12px;
   
                               font-weight: 400;
   
                           }
                        @media (max-width:1000px) {
                            font-size: 16px;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 12px;
                            height: 12px;
                            background-color: transparent;
                            border-radius: 50%;
                            right: -22px;
                            top: 50%;
                            transform: translateY(-150%);
                            transition: 0.3s;


                        }

                        &:hover {
                            color: #FFB81C;

                            &::after {
                                background-color: #FFB81C;
                                transform: translateY(-50%);
                            }
                        }
                    }

                    &.current_page_item {
                        a {
                            color: #FFB81C;

                            &::after {
                                background-color: #FFB81C;
                                transform: translateY(-50%);
                            }

                        }

                    }
                }
            }
        }

    }

    &__socials {
        margin-left: 100px;
        display: flex;
        align-items: center;


        @media (max-width:1550px) {
            margin-left: 0px;
        }

        &-item {
            margin-right: 20px;

            a {
                img {
                    width: 37px;
                    height: 37px;
                    transition: 0.6s;
                    border-radius: 50%;

                    &:hover {
                        box-shadow: 0px 0px 33px -3px rgba(255, 184, 28, 1);
                    }
                }
            }
        }
    }

    &__copyrights {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.36);
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            font-weight: bold;
            color: #B80069;
            font-size: 16px;
            padding: 15px 0px;
            text-align: center;
            text-decoration: none;
        }
    }
}

.page-id-62 {
    .app-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main {
        p {
            color: #B80069;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
    }

    .footer__newsletter {
        display: none;
    }
}