.main {
    background-image: url(../images/yellowbg.webp);
 
    position: relative;
z-index: 1;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 70px;
    flex-direction: column;

    @media (max-width:1440px) {
        max-width: 80%;
    }

    @media (max-width:900px) {
        padding: 40px;
        max-width: 100%;
        margin: 0px 40px;
        margin-bottom: 60px;
        margin-top: 20px;
    }


    @media (max-width:650px) {
        padding: 20px;
        padding-top:30px;

    }
    &__text {
        position: relative;
        z-index: 3;
        h1 {
            font-size: 64px;
            font-weight: bold;
            color: #B80069;
            @media (max-width:1600px) {
                font-size: 40px;
            }
            @media (max-width:800px) {
                font-size: 30px;
            }
        
        }

        h2 {
            font-size: 42px;
            font-weight: bold;
            color: #B80069;

            @media (max-width:650px) {
                font-size: 26px;
            }
        }
    }
}

.bott {

    &__blocks {
        position: relative;
        z-index: 3;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width:650px) {
         flex-direction: column;
        }
        &-item {

            width: 41%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width:1050px) {
                width: 47%;
            }
            @media (max-width:650px) {
              width: 100%;
              margin-bottom: 45px;
               }
        }

        &-title {
            margin-top: 40px;
            @media (max-width:650px) {
                margin-top: 20px;
                 }
            h4 {
                margin-bottom: 3px;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }

            p {
                text-align: center;
            }
        }

        &-text {
            margin-top: 18px;
            position: relative;

            &::before {
                content: '';
                background-image: url(../images/quote.webp);
                display: block;
                position: absolute;
                width: 70px;
                height: 55px;
                top: -20px;
                right: -15px;

                @media (max-width:1100px) {
                    content: '';
                    background-image: url(../images/quote.webp);
                    display: block;
                    position: absolute;
                    width: 52px;
                    height: 39px;
                    top: -11px;
                    background-size: cover;
                    right: 0px;
                }
            }
        }

        &-image {
            position: relative;
            height: 650px;
            width: 176px;

            @media (max-width:1000px) {
                position: relative;
                height: 357px;
                width: 97px;

            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

            .full {
                max-height: 100%;
                overflow: hidden;
                height: 100%;
                position: absolute;
                background-repeat: no-repeat;
                width: 100%;
                bottom: 0;
                background-position: bottom;
                background-size: cover;
            }
        }
    }
}