.single-product {
    &__container {

        background-image: url(../images/yellowbg.webp);

        position: relative;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 70px;
        display: flex;
        margin-top: 30px;
        margin-bottom: 70px;
        flex-direction: column;
        z-index: 4;

        @media (max-width:1440px) {
            max-width: 80%;
        }


        @media (max-width:900px) {
            padding: 40px;
            max-width: 100%;
            margin: 0px 40px;
        }


        @media (max-width:650px) {
            padding: 20px;
            padding-top: 30px;

        }
    }

    &__info {
        display: flex;
        justify-content: space-between;

        @media (max-width:1000px) {
            flex-direction: column;
        }

        &-addbutton {
            @media (max-width:500px) {
                margin-top: 40px;
            }
        }

        &-addtocart {
            .add_to_cart_inline {

                padding: 0 !important;
                border: 0 !important;

                .amount {
                    display: none;

                }
            }

            .added_to_cart {
                display: none !important;
            }

            .woocommerce a.button {
                border-radius: 0;
                background-color: #AE2573;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                padding: 10px 25px;
                font-weight: 700;
                font-size: 16px;

                position: relative;
                transition: 0.25s;

                box-sizing: border-box;
                box-shadow: inset 0 0 0 2px transparent;

                &.loading::after {
                    transform: none !important;
                    animation: none;
                }

                &.added::after {
                    margin-left: 0 !important;
                }

                &::before,
                &::after {
                    box-sizing: inherit;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                &::before,
                &::after {
                    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
                    border: 2px solid transparent;
                    width: 0;
                    height: 0;
                }

                // This covers the top & right borders (expands right, then down)
                &::before {
                    top: 0;
                    left: 0;
                }

                // And this the bottom & left borders (expands left, then up)
                &::after {
                    bottom: 0;
                    right: 0;
                }


                @supports not (-webkit-touch-callout: none) {

                    // Hover styles
                    &:hover {
                        font-weight: 700;

                        color: #AE2573;
                        background: transparent;

                        &::before,
                        &::after {
                            width: 100%;
                            height: 100%;
                        }

                        &::before {
                            border-top-color: #AE2573; // Make borders visible
                            border-right-color: #AE2573;
                            transition:
                                width 0.25s ease-out, // Width expands first
                                height 0.25s ease-out 0.25s; // And then height
                        }

                        &::after {
                            border-bottom-color: #AE2573; // Make borders visible
                            border-left-color: #AE2573;
                            transition:
                                border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
                                width 0.25s ease-out 0.5s, // And then exanding width
                                height 0.25s ease-out 0.75s; // And finally height
                        }



                        // Start ::after in same position as ::before
                        &::after {
                            top: 0;
                            left: 0;
                        }

                        // Change colors
                        &::before {
                            border-top-color: #AE2573;
                            border-right-color: #AE2573;
                        }

                        &::after {
                            border-bottom-color: #AE2573;
                            border-left-color: #AE2573;
                            transition: // Animate height first, then width
                                height 0.25s ease-out,
                                width 0.25s ease-out 0.25s;
                        }
                    }
                }

                // Hover styles 
                @supports (-webkit-touch-callout: none) {

                    @media (min-width:900px) {


                        &:hover {
                            font-weight: 700;

                            color: #AE2573;
                            background: transparent;

                            &::before,
                            &::after {
                                width: 100%;
                                height: 100%;
                            }

                            &::before {
                                border-top-color: #AE2573; // Make borders visible
                                border-right-color: #AE2573;
                                transition:
                                    width 0.25s ease-out, // Width expands first
                                    height 0.25s ease-out 0.25s; // And then height
                            }

                            &::after {
                                border-bottom-color: #AE2573; // Make borders visible
                                border-left-color: #AE2573;
                                transition:
                                    border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
                                    width 0.25s ease-out 0.5s, // And then exanding width
                                    height 0.25s ease-out 0.75s; // And finally height
                            }



                            // Start ::after in same position as ::before
                            &::after {
                                top: 0;
                                left: 0;
                            }

                            // Change colors
                            &::before {
                                border-top-color: #AE2573;
                                border-right-color: #AE2573;
                            }

                            &::after {
                                border-bottom-color: #AE2573;
                                border-left-color: #AE2573;
                                transition: // Animate height first, then width
                                    height 0.25s ease-out,
                                    width 0.25s ease-out 0.25s;
                            }
                        }
                    }
                }
            }


        }

        &-price {
            font-size: 42px;
            font-weight: bold;
            text-align: center;
            color: #AE2573;
            margin-top: 20px;

            @media (max-width:500px) {
                font-size: 36px;

            }
        }

        &-textwrapper {
            @media (max-width:500px) {
                text-align: center;

            }
        }

        &-content {
            h1 {
                width: 66%;
                font-size: 36px;
                color: #AE2573;
                font-weight: bold;
                margin-bottom: 10px;

                @media (max-width:1200px) {
                    width: 100%;

                }

                @media (max-width:500px) {
                    text-align: center;

                }

            }
        }

        &-quantity {
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: center;

            @media (max-width:1000px) {
                width: auto;
            }

            .qib-container {

                .qib-button,
                .qib-button:not(#qib_id):not(#qib_id) {
                    background: transparent;
                    border: 0;
                    font-size: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    cursor: pointer;
                    color: black;
                    transition: 0.4s;

                    &.plus {

                        font-size: 35px;
                    }

                    &:hover {
                        color: #ae2573;
                    }
                }

                div.quantity:not(#qib_id):not(#qib_id) {
                    margin: 0px 5px;

                    .input-text {
                        border: 1px solid #ae2573;
                        outline: 0;
                        font-weight: 700;
                        width: 54px;
                        height: 38px;

                        &:focus {
                            border: 1px solid #ae2573;
                        }
                    }

                }
            }

        }

        &-botside {
            display: flex;

            margin-top: 28px;

            @media (max-width:1000px) {
                justify-content: center;
            }

            @media (max-width:500px) {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__gallery {
        width: 48%;
        position: relative;

        @media (max-width:1000px) {
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 40px;
        }

        ul {
            top: 50%;
            transform: translateY(-50%);

            @media (max-width:1000px) {
                top: 0%;
                transform: translateY(0%);
            }
        }

        &-item {
            a {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .chevron-next {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            z-index: 2;
            right: -45px;

            height: 100%;
            display: flex;
            align-items: center;

            padding-right: 20px;


        }

        .added_to_cart {
            display: none;
        }

        .chevron-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            left: -45px;

            height: 100%;
            display: flex;
            align-items: center;
            z-index: 2;
            padding-left: 20px;

        }

        .chevron::before {
            border-style: solid;
            border-width: 0.15em 0.15em 0 0;
            content: '';
            display: inline-block;
            height: 1.15em;
            left: 0.15em;
            position: relative;
            top: 0.15em;
            transform: rotate(-45deg);
            vertical-align: top;
            width: 1.15em;
            cursor: pointer;

            @media (max-width:850px) {
                height: 1em;
                width: 1em;
                border-width: 0.15em 0.15em 0 0;
            }

        }

        .chevron.next:before {
            left: 0;
            transform: rotate(45deg);
        }

        .chevron.prev:before {
            left: 0.25em;
            transform: rotate(-135deg);
        }
    }

    &__rightside {
        width: 43%;
        margin-top: 20px;

        @media (max-width:1000px) {
            width: 100%;
            margin-bottom: 50px;
            margin-top: 0px;
        }
    }

    &__bottom {
        margin-top: 45px;
        position: relative;

        @media (max-width:1000px) {
            margin-top: 0;
        }

        &::before {
            content: '';
            background-image: url(../images/quote.webp);
            display: block;
            position: absolute;
            width: 70px;
            height: 55px;
            top: -20px;
            right: 0px;

            @media (max-width:1100px) {
                content: '';
                background-image: url(../images/quote.webp);
                display: block;
                position: absolute;
                width: 52px;
                height: 39px;
                top: -11px;
                background-size: cover;
                right: 0px;
            }
        }
    }

}