.single-recipes {
    h1 {
        margin-top: 100px;
        text-align: center;
        color: #FFB81C;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 64px;

        @media (max-width:1600px) {
            font-size: 40px;
        }

        @media (max-width:1100px) {
            width: 95%;
        }

        @media (max-width:800px) {
            font-size: 30px;
        }

        @media (max-width:750px) {

            margin-top: 40px;
        }

    }

    .recipe {
        flex-direction: row;
        z-index: 3;
        min-height: 650px;

        @media (max-width:1150px) {
            flex-direction: column;
            padding-bottom: 0;
        }

        &__leftside {
            width: 44%;

            @media (max-width:1150px) {
                width: 100%;
            }

            h2 {
                font-size: 42px;
                font-weight: bold;
                color: #AE2573;
                margin-bottom: 30px;

                @media (max-width:1600px) {
                    font-size: 40px;
                }

                @media (max-width:800px) {
                    font-size: 30px;
                }
            }

            &-points {
                display: flex;
                flex-wrap: wrap;
                margin-top: 38px;
                justify-content: space-between;
                align-items: flex-start;
                max-width: 500px;
                @media (max-width:1000px) {
                    justify-content: space-around;
                }
            }

            &-item {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 35px;



                &-image {
                    height: 75px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 19px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width:900px) {
                        height: 65px;

                        img {
                            width: 80%;
                        }
                    }
                }

                p {
                    font-weight: bold;
                    color: #AE2573;
                    font-size: 16px;
                    text-align: center;
                }

            }
        }

        &__rightside {
            @media (max-width:900px) {
                width: 100%;
            }

            img {
                position: absolute;
                transform: rotate(5deg);
                right: -5%;
                object-fit: cover;
                max-width: 55%;
                max-height: 820px;
                top: 2%;

                @media (max-width:1750px) {
                    right: 0%;

                    width: 54%;
                    height: auto;
                    top: 2%;
                }

                @media (max-width:1150px) {
                    position: relative;
                    width: 100%;
                    max-width: none;
                }

                @media (max-width:900px) {
                    transform: rotate(0deg);
                }

            }
        }
    }
}

.readys {
    h3 {
        font-size: 42px;
        font-weight: bold;
        color: #AE2573;
        margin-bottom: 30px;

        @media (max-width:1600px) {
            font-size: 40px;
        }

        @media (max-width:800px) {
            font-size: 30px;
        }
    }

    &__gallery {
        margin-top: 48px;
        position: relative;

        .slick-dots {
            bottom: -40px;
        }

        ul {
            li {
                img {
                    width: 276px;
                    display: block;
                    height: 196px;
                    object-fit: cover;
                    margin-left: auto;
                    margin-right: auto;

                    @media (max-width:400px) {
                        width: 240px;
                    }
                }
            }
        }

        .chevron-next {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            right: -50px;
            height: 100%;
            display: flex;
            align-items: center;
            z-index: 10;
            padding-right: 20px;

            @media (max-width:1500px) {

                right: -60px;

            }

            @media (max-width:1000px) {
                right: -25px;

            }

            @media (max-width:700px) {
                right: 0px;

            }

            @media (max-width:850px) {
                padding-right: 10px;
            }

            @media (max-width:450px) {
                right: -15px;


            }
        }

        .chevron-prev {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -50px;
            height: 100%;
            display: flex;
            align-items: center;
            z-index: 10;
            padding-left: 20px;

            @media (max-width:1500px) {

                left: -60px;

            }

            @media (max-width:1000px) {
                left: -25px;

            }

            @media (max-width:850px) {
                padding-left: 10px;
            }

            @media (max-width:700px) {
                left: 0px;

            }

            @media (max-width:450px) {
                left: -15px;


            }
        }

        .chevron::before {
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            content: '';
            display: inline-block;
            height: 1.35em;
            left: 0.15em;
            position: relative;
            top: 0.15em;
            transform: rotate(-45deg);
            vertical-align: top;
            width: 1.35em;
            cursor: pointer;

            @media (max-width:850px) {
                height: 1em;
                width: 1em;
                border-width: 0.15em 0.15em 0 0;
            }

        }

        .chevron.next:before {
            left: 0;
            transform: rotate(45deg);
        }

        .chevron.prev:before {
            left: 0.25em;
            transform: rotate(-135deg);
        }

    }
}


.recipes {
    h1 {
        margin-top: 100px;
        text-align: center;
        color: #FFB81C;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 64px;

        @media (max-width:1600px) {
            font-size: 40px;
        }

        @media (max-width:1100px) {
            width: 95%;
        }

        @media (max-width:800px) {
            font-size: 30px;
        }

        @media (max-width:750px) {

            margin-top: 40px;
        }
    }

    &__container {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
        margin-bottom: 80px;
        z-index: 10;
        position: relative;

        @media (max-width:1440px) {
            max-width: 80%;
        }


        @media (max-width:900px) {
            padding: 40px;
            max-width: 100%;

        }


        @media (max-width:650px) {
            padding: 20px;
            padding-top: 30px;

        }

        @media (max-width:700px) {
            margin-bottom: 30px;
        }
    }

    &__item {
        width: 407px;
        height: 407px;
        position: relative;
        position: relative;
        transition: transform 0.4s;
        transform-style: preserve-3d;
        margin: 0px 10px;
        margin-bottom: 35px;
        max-width: 32%;

        @media (max-width:1600px) {
            max-width: none;
        }

        @media (max-width:700px) {
            width: 320px;
            height: 320px;
        }

        &.active {
            transform: rotateY(180deg);

            .recipes__find {
                display: none
            }
        }

        &:hover {
            .recipes__find {
                opacity: 0.7;
            }

        }
    }

    &__items {
        perspective: 1000px;
        background-color: transparent;
        display: flex;
        justify-content: space-around;

        flex-wrap: wrap;
    }

    &__image {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #bbb;
        color: black;
        backface-visibility: hidden;

        img {
            width: 100%;
            height: 100%;
        }


    }

    &__find {
        opacity: 0;
        z-index: 0;
        transition: 0.6s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFB81C;
        background-blend-mode: soft-light;



        p {
            background: transparent;
            color: black;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 25px;
            border: 1px solid black;
            font-size: 16px;

            position: relative;
            transition: 0.25s;

            box-sizing: border-box;
            box-shadow: inset 0 0 0 2px transparent;

            &::before,
            &::after {
                box-sizing: inherit;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
            }

            &::before,
            &::after {
                // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
                border: 1px solid transparent;
                width: 0;
                height: 0;
            }

            // This covers the top & right borders (expands right, then down)
            &::before {
                top: 0;
                left: 0;
            }

            // And this the bottom & left borders (expands left, then up)
            &::after {
                bottom: 0;
                right: 0;
            }



            // Hover styles

        }

        &:hover {
            p {
                border: 1px solid #AE2573;
                color: #AE2573;
                background: transparent;

                &::before,
                &::after {
                    width: 100%;
                    height: 100%;
                }

                &::before {
                    border-top-color: #AE2573; // Make borders visible
                    border-right-color: #AE2573;
                    transition:
                        width 0.25s ease-out, // Width expands first
                        height 0.25s ease-out 0.25s; // And then height
                }

                &::after {
                    border-bottom-color: #AE2573; // Make borders visible
                    border-left-color: #AE2573;
                    transition:
                        border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
                        width 0.25s ease-out 0.5s, // And then exanding width
                        height 0.25s ease-out 0.75s; // And finally height
                }



                // Start ::after in same position as ::before
                &::after {
                    top: 0;
                    left: 0;
                }

                // Change colors
                &::before {
                    border-top-color: #AE2573;
                    border-right-color: #AE2573;
                }

                &::after {
                    border-bottom-color: #AE2573;
                    border-left-color: #AE2573;
                    transition: // Animate height first, then width
                        height 0.25s ease-out,
                        width 0.25s ease-out 0.25s;
                }
            }


        }
    }

    &__content {
        cursor: pointer;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;


        opacity: 0.9;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        background-color: #FFB81C;
        background-blend-mode: soft-light;
        transform: rotateY(180deg);

        &::after {
            content: '';
            background-image: url(../images/ionic-ios-close-circle.webp);
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            top: 20px;
            right: 20px;
            background-repeat: no-repeat;

            @media (max-width:700px) {
                display: none;
            }
        }

        &-header {
            margin-top: 60px;
            font-size: 30px;
            text-align: center;
            font-weight: 700;
            width: 70%;
            color: #AE2573;

            @media (max-width:700px) {
                margin-top: 0px;
                font-size: 26px;
                width: 90%;
            }
        }

        &-author {
            font-size: 18px;
            font-weight: 700;
            margin-top: 6px;
        }

        &-text {
            margin-top: 18px;
        }

        &-buton {
            margin-top: auto;
            margin-bottom: 20px;
            position: relative;
            z-index: 50;

            a {
                background: transparent;
                color: black;
                text-transform: uppercase;
                text-decoration: none;
                padding: 10px 25px;
                border: 1px solid black;
                font-size: 16px;

                position: relative;
                transition: 0.25s;

                box-sizing: border-box;
                box-shadow: inset 0 0 0 2px transparent;

                @media (max-width:700px) {
                    padding: 5px 15px;
                    font-size: 14px;
                }

                &::before,
                &::after {
                    box-sizing: inherit;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                &::before,
                &::after {
                    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
                    border: 1px solid transparent;
                    width: 0;
                    height: 0;
                }

                // This covers the top & right borders (expands right, then down)
                &::before {
                    top: 0;
                    left: 0;
                }

                // And this the bottom & left borders (expands left, then up)
                &::after {
                    bottom: 0;
                    right: 0;
                }



                // Hover styles
                @supports (-webkit-touch-callout: none) {

                    @media (min-width:900px) {


                        &:hover {

                            border: 1px solid #AE2573;
                            color: #AE2573;
                            background: transparent;

                            &::before,
                            &::after {
                                width: 100%;
                                height: 100%;
                            }

                            &::before {
                                border-top-color: #AE2573; // Make borders visible
                                border-right-color: #AE2573;
                                transition:
                                    width 0.25s ease-out, // Width expands first
                                    height 0.25s ease-out 0.25s; // And then height
                            }

                            &::after {
                                border-bottom-color: #AE2573; // Make borders visible
                                border-left-color: #AE2573;
                                transition:
                                    border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
                                    width 0.25s ease-out 0.5s, // And then exanding width
                                    height 0.25s ease-out 0.75s; // And finally height
                            }



                            // Start ::after in same position as ::before
                            &::after {
                                top: 0;
                                left: 0;
                            }

                            // Change colors
                            &::before {
                                border-top-color: #AE2573;
                                border-right-color: #AE2573;
                            }

                            &::after {
                                border-bottom-color: #AE2573;
                                border-left-color: #AE2573;
                                transition: // Animate height first, then width
                                    height 0.25s ease-out,
                                    width 0.25s ease-out 0.25s;
                            }
                        }
                    }
                }

                @supports not (-webkit-touch-callout: none) {
                    &:hover {

                        border: 1px solid #AE2573;
                        color: #AE2573;
                        background: transparent;

                        &::before,
                        &::after {
                            width: 100%;
                            height: 100%;
                        }

                        &::before {
                            border-top-color: #AE2573; // Make borders visible
                            border-right-color: #AE2573;
                            transition:
                                width 0.25s ease-out, // Width expands first
                                height 0.25s ease-out 0.25s; // And then height
                        }

                        &::after {
                            border-bottom-color: #AE2573; // Make borders visible
                            border-left-color: #AE2573;
                            transition:
                                border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
                                width 0.25s ease-out 0.5s, // And then exanding width
                                height 0.25s ease-out 0.75s; // And finally height
                        }



                        // Start ::after in same position as ::before
                        &::after {
                            top: 0;
                            left: 0;
                        }

                        // Change colors
                        &::before {
                            border-top-color: #AE2573;
                            border-right-color: #AE2573;
                        }

                        &::after {
                            border-bottom-color: #AE2573;
                            border-left-color: #AE2573;
                            transition: // Animate height first, then width
                                height 0.25s ease-out,
                                width 0.25s ease-out 0.25s;
                        }
                    }
                }
            }
        }
    }

    &__pagination {
        text-align: center;
        margin-top: 40px;

        a {
            text-decoration: none;
            color: #FFB81C;
        }

        .page-numbers {
            padding: 0px 5px;
            font-size: 18px;
        }

        .next {
            margin-left: 10px;
            font-size: 16px;
        }

        .prev {
            margin-right: 10px;
            font-size: 16px;
        }

        .current {
            background-color: #FFB81C;
            ;
            color: #AE2573;
            font-weight: bold;
        }

    }
}

.lightbox .lb-image {
    border: 0px !important;
}